@model IEnumerable<CmsSite.Models.CmsPage>

@{
    ViewBag.Title = "Pages";
}


<div id="main">
    <!-- start:breadcrumb -->
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li>Dashboard</li>
        <li class="active">Pages</li>
    </ol>
    <!-- end:breadcrumb -->

    <div class="row" id="home-content">
        <div class="col-lg-10 col-lg-offset-1">

            <div class="col-lg-12">
                <div class="col-lg-4"><h2>Pages</h2> </div>
                <div class="col-lg-4 col-lg-push-7">
                    <button id="add-page" class="btn  btn-info"><i class="fa fa-plus"></i></button>
                </div>


            </div>
            <table class="table">
                <tr>
                    <th>
                        Parent
                    </th>
                    <th>
                        Template
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CreateDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Alias)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Url)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ShowInMenu)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Level)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Order)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IconName)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Parent.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Template.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreateDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Alias)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Url)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ShowInMenu)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Level)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Order)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IconName)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "EditPage", new { id = item.PageId }) |
                            @Html.ActionLink("Delete", "DeletePage", new { id = item.PageId })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>


<div id="addform" class="well">
    <h3 class="text-center">Add Page</h3>
    <form class="card-body" action="/Cms/Admin/CreatePage" method="post" id="add-page">
       
        @Html.AntiForgeryToken()

        <div class="form-group">
            <label for="pagename">Page Name</label>
            <input id="pagename" type="text" name="Name" placeholder="Pagename.." class="form-control"/>
        </div>

        <div class="form-group">
            <label for="showinmenu">Show In Menu</label>
            <input id="showinmenu" type="checkbox" value="true" name="ShowInMenu"/>

        </div>

        <div class="form-group">
            <label for="ParentId">Parent</label>
            @Html.DropDownList("ParentId", null, htmlAttributes: new {@class = "form-control"})
        </div>


        <div class="form-group">
            <label for="TemplateId">Template</label>
            @Html.DropDownList("TemplateId", null, htmlAttributes: new {@class = "form-control"})
        </div>

        @*<div class="form-group">
            <label for="icon">Icon</label>
            @Html.DropDownList("Iconname", null, htmlAttributes: new { @class = "form-control" })
            @*<input id="icon" type="text" name="Icon" />*@
        @*</div>*@


        <div class="form-group">
            <button id="cancel-prop" class="btn  btn-danger" type="reset">Cancel</button>
            <button type="submit" class="btn  btn-success">Save</button>
        </div>
    </form>


</div>

@section scripts



{
    <script>
        
        $("#add-page").on('click',
            function() {
                $("#addform").addClass("enabled");
                $("#add-page").prop("disabled", true);
               
            }
        );

        $("#cancel-prop").on('click',
            function(e) {
                e.preventDefault();
                $("#form").trigger("reset");
                $("#addform").removeClass("enabled");
                $("#add-page").prop("disabled", false);
            });

    </script>  
    

}
